*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
.image-container{
    width: 200px;
    height: 200px;
    transform-style:preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    position: relative;
    transition: 0.5s all;
    margin-top: 200px;
    margin-left: 500px;
   
}
.image-container span{
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    transition: all 0.5sn;
    width: 100%;
}

.image-container span img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
